{#
/**
* @file
* Theme override to display a single component.
*
* footer area template
*/
#}
<footer class="footer-section">
    <div class="container">
        {# Footer Top Twig Code Start here #}
        {% if page.footer_top %}
        <div class="footer-top">
            {{ page.footer_top }}
        </div>
        {% endif %}
        {# Footer Top Twig Code End here #}

        {# Footer Middle Twig Code Start here #}
        <div class="footer-mid">
            <div class="row">
                {% if page.footer_first %}
                <div class="col-lg-4 col-md-4 col-sm-6 footer-first">
                    {{ page.footer_first }}
                </div>
                {% endif %}
                {% if page.footer_second %}
                <div class="col-lg-3 col-md-3 col-sm-6 footer-second">
                    {{ page.footer_second }}
                </div>
                {% endif %}
                {% if page.footer_third %}
                <div class="col-lg-3 col-md-3 col-sm-6 footer-third">
                    {{ page.footer_third }}
                </div>
                {% endif %}
                {% if page.footer_fourth %}
                <div class="col-lg-2 col-md-2 col-sm-6 footer-fourth">
                    {{ page.footer_fourth }}
                </div>
                {% endif %}
            </div>
        </div>
        {# Footer Middle Twig Code End here #}

        {# Footer Bottom Twig Code Start here #}
        <div class="footer-bottom">
            <div class="row">
                {% if page.footer_bottom_right %}
                <div class="footer-left col-lg-6 col-md-6 col-sm-12 order-sm-1 order-lg-2 order-md-2">
                    {{ page.footer_bottom_right }}
                </div>
                {% endif %}
                <div class="footer-right col-lg-6 col-md-6 col-sm-12 order-sm-2 order-lg-1 order-md-1">
                    <p class="footer-text">© {{ "now"|date("Y") }} {{ 'SPACE'|t }}. {{ 'All Rights Reserved.'|t }}</p>
                </div>
            </div>
        </div>
        {# Footer Bottom Twig Code End here #}
    </div>
</footer>