{#
/**
* @file
* Theme override to display a single component.
*
* header area template
*/
#}

<header class="header py-9">
    <div class="container">
        <div class="grid grid-cols-1 justify-center sm:grid-cols-2 max-md:grid max-md:grid-cols-2 md:grid-cols-2 lg:flex lg:justify-between xl:flex xl:justify-between">
            <div class="">
                <div class="header-section flex items-center gap-10">
                    <div class="site-logo">
                        <a href="{{ url('<front>') }}" title="{{ site_name }}" class="flex items-center space-x-2">
                            <img class="img-fluid" src="{{ logopath }}" title="{{ site_name }}" alt="logo" />
                            <span class="logo-text uppercase text-textlogo text-f-20 tracking-text-space">
                                {{ site_name }}
                            </span>
                        </a>
                    </div>
                    <!--  </div> -->
                    <!-- <div class="grid grid-cols-1 gap-1"> -->
                    {% if page.main_menu %}
                    <div class="main-nav">
                        {{ page.main_menu }}
                    </div>
                </div>
                {% endif %}
            </div>
            {% if page.search %}
            <!-- <div class="grid grid-cols-2 gap-2"> -->
            <div class="flex justify-end">
                <div class="flex">
                    <div class="search-section flex">
                        {{ page.search }}
                        <span class="fa fa-search search-icon" aria-hidden="true"></span>
                        <div class="hamburger">
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>
                    </div>
                    <!-- </div> -->
                    {% endif %}
                    {% if page.login %}
                    <div class="log-in">
                        {{ page.login }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>